@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input-field {
  width: 90%;
  padding: 12px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

/* Change border color when input is focused */
.input-field:focus {
  border-color: #4A90E2;
}

/* Buttons */
.btn {
  padding: 12px;
  margin: 0;
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.btn:hover {
  background-color: #357ABD;
}


